[Unit]
Description=ACHDR Updater
Requires=media-pi-VIDEO_ACHDR.mount
After=media-pi-VIDEO_ACHDR.mount

[Service]
ExecStart=/home/pi/Scripts/updater_launcher.sh -i

[Install]
WantedBy=media-pi-VIDEO_ACHDR.mount
