[Unit]
Description=Service to hide cursor on Raspbian

[Service]
Type=idle
ExecStart=unclutter -display :0 -noevents -grab
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
